<%= form_for [refinery, :news, :admin, @item] do |f| %>
  <%= render "/refinery/admin/error_messages",
             :object => @item,
             :include_object_name => true %>

  <%= render "locale_picker",
             :current_locale => Thread.current[:globalize_locale] if defined?(::Refinery::I18n) %>

  <div class='field'>
    <%= f.label :title %>
    <%= f.text_field :title, :class => "larger widest" %>
  </div>

  <div class='field'>
    <%= f.label :publish_date %>
    <%= f.datetime_select :publish_date %>
  </div>

  <div class='field'>
    <%= f.label :expiration_date %>
    <%= f.datetime_select :expiration_date, :start_year => Time.now.year,
                                            :include_blank => true %>
  </div>

  <div class='field'>
    <%= f.label :body %>
    <%= f.text_area :body, :rows => "20", :class => "wymeditor widest" %>
  </div>

  <div class='field'>
    <%= f.label :source %>
    <%= f.text_field :source, :class => "larger widest" %>
  </div>

  <%= render "/refinery/admin/form_actions",
             :f => f,
             :continue_editing => true,
             :delete_title => t('admin.news.items.item.delete'),
             :delete_confirmation => t('shared.admin.delete.message', :title => @item.title) %>

<% end %>
