<li class='clearfix record <%= cycle("on", "on-hover") %>'>
  <span class='title'>
    <%= item.title %>
    <span class="preview">
      <%= t('.published') %> <%= l(item.publish_date, :format => :short) %>
    </span>
    <% if Refinery::I18n.frontend_locales.many? and
          (locales = item.translations.collect{|t| t.locale}).present? %>
      <span class='preview'>
        <% locales.each do |locale| %>
          <%= link_to refinery_icon_tag("flags/#{locale}", :size => '16x11'), refinery.edit_news_admin_item_path(item, :switch_locale => locale),
                      :class => "locale" %>
        <% end %>
      </span>
    <% end %>
  </span>
  <span class='actions'>
    <%= action_icon 'go', refinery.news_item_path(item), t('.view_live_html'), target: "_blank" %>
    <%= action_icon 'edit', refinery.edit_news_admin_item_path(item), t('.edit') %>
    <%= action_icon 'delete', refinery.news_admin_item_path(item), t('.delete'),
                    class: "cancel confirm-delete",
                    method: :delete,
                    data: {
                      confirm: t('refinery.admin.delete.message', :title => item.title)
                    } %>
  </span>
</li>
