<div id='actions'>
  <ul>
    <li>
      <%= render :partial => "/refinery/admin/search", :locals => {:url => refinery.news_admin_items_path} %>
    </li>
    <li>
      <%= link_to t('.create'), refinery.new_news_admin_item_path, :class => "add_icon" %>
    </li>
  </ul>
</div>
<div id='records'>
  <% if searching? %>
    <h2><%= t('refinery.admin.search.results_for', :query => params[:search]) %></h2>
  <% end %>
  <% if @items.any? %>
    <%= will_paginate @items %>
    <ul>
      <%= render :partial => "item", :collection => @items %>
    </ul>
    <%= will_paginate @items %>
  <% else %>
    <p>
      <% unless searching? %>
        <strong><%= t('.no_items_yet') %></strong>
      <% else %>
        <%= t('refinery.admin.search.no_results') %>
      <% end %>
    </p>
  <% end %>
</div>
