<% content_for :body do %>
  <%=raw @page.content_for(Refinery::Pages.default_parts.first[:slug].to_sym) unless params[:page] %>

  <% if @items.any? %>
    <% @items.each do |item| %>
      <article class="news_item_truncated">
        <h2><%= link_to item.title, refinery.news_item_path(item) %></h2>
        <p>
          <small><%= t('.published') %> <%= l(item.publish_date, :format => :long) %></small>
        </p>
        <%= truncate  item.body, :length => 200,
                      :omission => " ... #{link_to t('.read_more'), refinery.news_item_path(item)}",
                      :preserve_html_tags => true %>
      </article>
    <% end %>

    <%= will_paginate @items %>
  <% else %>
    <p><em><%= t('.no_items_yet') %></em></p>
  <% end %>
<% end -%>

<% content_for :body_content_right_prepend do -%>
  <%= raw @page.content_for(::Refinery::Pages.default_parts.second[:slug].to_sym) %>
<% end if ::Refinery::Pages.default_parts.many? -%>
<%= render '/refinery/news/shared/body_content_right' %>

<%= render "/refinery/content_page" %>
