<% content_for :body_content_title, @item.title %>
<% content_for :body do %>
  <article class="news_item">
    <p>
      <small><%= t('.published') %> <%= l(@item.publish_date, :format => :long) %></small>
    </p>
    <% if @item.source.present? %>
      <p>
        <small><%= t('.source') %> <%= @item.source %></small>
      </p>
    <% end %>
    <%= @item.body.html_safe %>
    <p>
      <%= link_to t('.back_to_index'), refinery.news_items_path %>
    </p>
  </article>
<% end %>
<% content_for :side_body, render(:partial => 'recent_posts') %>

<%= render "/refinery/content_page" %>
