<% content_for :body_content_left do %>
  <%=raw @page[:body] if @news_items.offset == 0 %>

  <% if @news_items.any? %>
    <% @news_items.each do |item| %>
      <article class="news_item_truncated">
        <h3><%= link_to item.title, news_item_url(item) %></h3>
        <p>
          <small><%= t('.published') %> <%= l(item.publish_date, :format => :long) %></small>
        </p>
        <%= truncate  item.body, :length => 200,
                      :omission => " ... #{link_to t('.read_more'), news_item_url(item)}",
                      :preserve_html_tags => true %>
      </article>
    <% end %>

    <%= will_paginate(@news_items) %>
  <% else %>
    <p><em><%= t('.no_items_yet') %></em></p>
  <% end %>
<% end -%>

<%= render :partial => "/shared/content_page" %>
