<% content_for :body_content_title, @news_item.title %>
<% content_for :body_content_left do %>
  <article class="news_item">
    <% if @has_image && @news_item.cover_image_uid %>%>
      <p>
        <%= image_tag @news_item.cover_image.thumb('150x150#').url
      </p>
    <% end %>
    <p>
      <small><%= t('.published') %> <%= l(@news_item.publish_date, :format => :long) %></small>
    </p>
    <% if @show_preview %>
      <%= @news_item.preview_text.html_safe %>
    <% else %>
      <%= @news_item.body.html_safe %>
    <% end %>
    <p>
      <%= link_to t('.back_to_index'), news_items_url %>
    </p>
  </article>
<% end %>
<% content_for :body_content_right, render(:partial => 'recent_posts') %>

<%= render :partial => "/shared/content_page" %>
