<%= form_for [:admin, @news_item] do |f| %>
  <%= render :partial => "/shared/admin/error_messages",
             :locals => {
               :object => @news_item,
               :include_object_name => true
             } %>

  <div class='field'>
    <%= f.label :title %>
    <%= f.text_field :title, :class => "larger widest" %>
  </div>

  <div class='field'>
    <%= f.label :publish_date %>
    <%= f.datetime_select :publish_date %>
  </div>

  <div class='field'>
    <%= f.label :content %>
    <%= f.text_area :content, :rows => "20", :class => "wymeditor widest" %>
  </div>

  <%= render :partial => "/shared/admin/form_actions",
             :locals => {
               :f => f,
               :continue_editing => true,
               :delete_title => t('admin.news_items.news_item.delete'),
               :delete_confirmation => t('shared.admin.delete.message', :title => @news_item.title)
             } %>

<% end %>
