<% form_for [:admin, @news_item] do |f| %>
  <%= f.error_messages %>

  <div class='field'>
    <%= f.label :title %>
    <%= f.text_field :title, :class => "larger widest" %>
  </div>

  <div class='field'>
    <%= f.label :publish_date %>
    <%= f.datetime_select :publish_date %>
  </div>

  <div class='field'>
    <%= f.label :content %>
    <%= f.text_area :content, :rows => "20", :class => "wymeditor widest" %>
  </div>

  <%= render :partial => "/shared/admin/form_actions",
             :locals => {
               :f => f,
               :continue_editing => true
             } %>

<% end %>
